body {
    background: #fff;
    color: ##404040;
    font-family: 'Roboto Medium', Arial, sans-serif;
    overflow-x: hidden;
}

a {
    color: #feda00;
    transition: 0.5s;
}

    a:hover,
    a:active,
    a:focus {
        color: #191443;
        outline: none;
        text-decoration: none;
    }

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Medium', Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

.space-up-min {
    padding-top: 5px;
}

.space-up-med {
    padding-top: 20px;
}

.space-up-lg {
    padding-top: 60px;
}

.space-down-lg {
    padding-top: 60px;
}

.space-left-min {
    padding-left: 10px;
}

.toggle-handle {
    background-color: #fff;
}

.box-principal {
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    background: #fff;
    transition: 0.4s;
}

.modal-body p {
    font-size: 16px;
    color: #1a1442;
}

.svg-logo-liberty {
    width: 140px;
    z-index: 1;
    position: relative;
    margin-top: 10px;
    margin-bottom: 1px;
    left: 20px;
}

.cls-1, .cls-2 {
    fill: #1a1446;
}

.cls-3 {
    fill: #fff;
}

.cls-2, .cls-3 {
    fill-rule: evenodd;
}

.logo-liberty {
    margin-top: 120px;
}

.saiba-mais {
    text-decoration: underline;
    color: #1a1442;
    cursor: pointer;
}

#header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

    #header #logo {
        float: left;
    }

        #header #logo h1 {
            font-size: 36px;
            margin: -4px 0 0 0;
            padding: 0;
            line-height: 1;
            display: inline-block;
            font-family: 'Roboto Medium', Arial, sans-serif;
            font-weight: 300;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

            #header #logo h1 a,
            #header #logo h1 a:hover {
                color: #fff;
            }

        #header #logo img {
            padding: 0;
            margin: 0;
        }

    #header.header-fixed {
        background: linear-gradient(45deg, #feda00, #feda00);
        padding: 20px 0;
        height: 72px;
        transition: all 0.5s;
    }

#intro {
    width: 100%;
    height: 100vh;
    position: relative;
}

.bg-familia {
    background: url("../img/intro-bg-familia.jpg") center top no-repeat;
    background-size: cover;
}

.bg-fitness {
    background: url("../img/intro-bg-fitness.jpg") center top no-repeat;
    background-size: cover;
}

#intro .intro-text {
    position: absolute;
    left: 0;
    top: 20px;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: left;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.title-principal {
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.title-principal-familia {
    width: 800px;
}

.title-principal-fitness {
    width: 700px;
}

.title-principal-info-bg {
    background: RGBA(255,255,255,0.6);
}

#intro h2 {
    margin: 0 0 60px 0;
    padding: 0 15px;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    color: #1a1442;
    background-color: #feda00;
}

#intro p {
    color: #1a1442;
    font-weight: 400;
    margin-bottom: 60px;
    padding: 0 15px 0 20px;
    font-size: 24px;
    width: 600px;
}

.div-about {
    margin-top: 40px;
    text-align: center;
    width: 600px;
}

.btn-principal {
    font-family: 'Roboto Medium', Arial, sans-serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #feda00;
    background-color: #feda00;
    color: #1a1442;
    width: 200px;
    cursor: pointer;
}

    .btn-principal:hover {
        background-color: #FFE45E;
        color: #1a1442;
    }

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header .section-title {
    font-size: 32px;
    color: #111;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

.section-header .section-description {
    text-align: center;
    padding-bottom: 20px;
    color: #777;
    /* font-style: italic; */
}

.section-header .section-divider {
    display: block;
    width: 60px;
    height: 3px;
    background: #feda00;
    margin: 0 auto;
    margin-bottom: 20px;
}

.section-bg {
    background: #eff5f5;
}

.section-bg-final {
    background: #feda00;
    height: 320px;
}

#beneficios {
    padding: 60px 0 60px 0;
    overflow: hidden;
}

    #beneficios .icon {
        float: left;
    }

    #beneficios .box {
        padding: 40px;
        margin-bottom: 30px;
    }

    #beneficios h4 {
        margin-left: 100px;
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
    }

        #beneficios h4 a {
            color: #111;
        }

    #beneficios p {
        font-size: 14px;
        margin-left: 100px;
        margin-bottom: 0;
        line-height: 24px;
    }

#self-service {
    padding: 0 0 60px 0;
    overflow: hidden;
}

    #self-service .box {
        padding: 25px 0 10px 20px;
    }

    #self-service h4 {
        font-size: 20px;
        color: #1a1442;
        font-weight: 400;
    }

        #self-service h4 sup {
            font-size: 20px;
            top: -20px;
        }

        #self-service h4 span {
            color: #bababa;
            font-size: 20px;
        }

    #self-service ul {
        padding: 0;
        list-style: none;
        color: #999;
        text-align: left;
        line-height: 20px;
    }

        #self-service ul li {
            padding-bottom: 12px;
        }

        #self-service ul i {
            color: #feda00;
            font-size: 18px;
            padding-right: 4px;
        }

    #self-service .get-started-btn {
        background: #515e61;
        display: inline-block;
        padding: 6px 30px;
        border-radius: 20px;
        color: #fff;
        transition: none;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Roboto Medium', Arial, sans-serif;
    }

#personal-info {
    padding: 10px 0 30px 0;
    overflow: hidden;
    font-size: 20px;
}

    #personal-info h3 {
        font-size: 20px;
        color: #1a1442;
        font-weight: 600;
        text-align: center;
    }

    #personal-info .box {
        padding: 20px;
    }

    #personal-info label {
        padding-right: 10px;
    }

    #personal-info .row {
        padding: 10px 0 10px 0;
    }

    #personal-info .input-info {
        padding: 0 0 1px;
        margin: 0;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #48535b;
        border-radius: 0;
    }

#preco {
    padding-top: 30px;
}

#preco h3 {
    font-size: 34px;
    color: #191443;
    font-weight: 300;
}

#preco h4 {
    font-size: 48px;
    color: #191443;
    font-weight: 400;
    margin-bottom: 0;
}

#preco .box-preco {
    border: 2px solid #191443;
    padding: 20px;
    text-align: center;
}

.btn-final {
    background-color: #1a1442;
    color: #fff;
    border: none;
}

    .btn-final:hover {
        background-color: #1a1442;
        color: #fff;
        border: none;
    }

#footer {
    background: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    color: #333;
    font-size: 14px;
}

    #footer .credits {
        font-size: 13px;
        color: #888;
    }

    #footer .footer-links a {
        color: #666;
        padding-left: 15px;
    }

        #footer .footer-links a:first-child {
            padding-left: 0;
        }

        #footer .footer-links a:hover {
            color: #feda00;
        }

.col-footer {
    padding: 0 30px 0 30px;
}

@media (min-width: 1025px) {
    #intro {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #header #logo h1 {
        font-size: 28px;
        margin-top: 0;
    }

    #header #logo img {
        max-height: 40px;
    }

    #intro h2 {
        font-size: 28px;
        line-height: 36px;
    }

    #intro p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px;
    }
}
