<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Seu Produto Vida - Liberty Seguros</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="~/img/favicon.ico" rel="icon">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="~/css/oferta.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
    <footer id="footer">
        <div class="row">
            <div class="col-lg-12 col-footer">
                Liberty Seguros S/A - CNPJ 61.550.141/0001-72 - Cód. SUSEP: 518-5. Processos SUSEP: 15414.100331/2004-96 e 15414.901089/2015-23. O registro deste plano na SUSEP não implica, por parte da autarquia, incentivo ou recomendação à sua comercialização. Ouvidoria: acesse o site www.libertyseguros.com.br, onde é possível postar seu recurso. Se preferir, o recurso também poderá ser feito pelo e-mail ouvidoria@libertyseguros.com.br ou pelo telefone 0800-740-3994.
            </div>
        </div>
    </footer>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h5 class="modal-title">Obrigada!</h5> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Maria, será um prazer ter uma segurada como você!</p>
                    <p>Logo vamos entrar em contato para confirmar a contratação do seu produto.</p>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button> -->
                    <button type="button" class="btn btn-default" id="Finalizar">OK</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/superfish/hoverIntent.js"></script>
    <script src="~/lib/superfish/superfish.min.js"></script>
    <script src="~/lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>
    <script src="~/js/oferta.js"></script>
</body>
</html>
