<section id="beneficios" class="section-bg">
    <div class="container">
        <div class="section-header">
            <h3 class="section-title">Saiba mais</h3>
            <span class="section-divider"></span>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="box-principal box wow fadeInLeft">
                    <div class="icon"><img src="~/img/fitness-assist.png" title="Personal fitness"></div>
                    <h4 class="title"><a href="#">Personal fitness</a></h4>
                    <p class="description">Orientações de atividades físicas</p>
                    <div class="space-up-min"><p class="saiba-mais">Saiba mais</p></div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box-principal box wow fadeInRight">
                    <div class="icon"><img src="~/img/nutrition.png" title="Sua família amparada"></div>
                    <h4 class="title"><a href="#">Assistência nutricionista</a></h4>
                    <p class="description">Orientações de alimentação saudável</p>
                    <div class="space-up-min"><p class="saiba-mais">Saiba mais</p></div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box-principal box wow fadeInLeft">
                    <div class="icon"><img src="~/img/medical.png" title="Segunda opinião médica internacional"></div>
                    <h4 class="title"><a href="#">Segunda opinião médica internacional</a></h4>
                    <p class="description">Opinião médica de profissionais especializados</p>
                    <div class="space-up-min"><p class="saiba-mais">Saiba mais</p></div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box-principal box wow fadeInRight">
                    <div class="icon"><img src="~/img/heart.png" title="Sua família amparada"></div>
                    <h4 class="title"><a href="#">Sua família amparada</a></h4>
                    <p class="description">Se ocorrer uma perda familiar, te daremos amparo</p>
                    <div class="space-up-min"><p class="saiba-mais">Saiba mais</p></div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12 text-center"><a href="#self-service" class="btn-principal scrollto">Contrate já!</a></div>
        </div>
    </div>
</section>