<section id="personal-info" class="section-bg">
    <div class="container">

        <div class="section-header">
            <h3>Agora me conte mais sobre você</h3>
        </div>
        <div class="box-principal box">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <label>CPF</label>
                    <input type="text" class="input-info" id="CPF">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <label>Nome</label>
                    <input type="text" class="input-info" id="Nome">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <label>CEP</label>
                    <input type="text" class="input-info" id="CEP">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <label>Número da residência e complemento</label>
                    <input type="text" class="input-info" id="EnderecoNumero">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <label>Valor que desejo contratar (R$)</label>
                    <input type="text" class="input-info" id="CapitalSegurado">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <label>Minha renda (R$)</label>
                    <input type="text" class="input-info" id="Renda">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center form-inline">
                    <label>Profissão</label>
                    <select class="form-control input-info" id="Profissao"> <option value="">Selecione</option> </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <label>Telefone</label>
                    <input type="text" class="input-info" id="Telefone">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <label>E-mail</label>
                    <input type="text" class="input-info" id="Email">
                </div>
            </div>
        </div>
    </div>
    <div class="container wow fadeInRight">
        <div class="section-header space-up-lg space-down-lg">
            <h3>Só mais algumas informações. Já está acabando! ;)</h3>
        </div>
        <div class="box-principal box">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <label>Possui cônjuge</label>
                    <input type="radio" name="conjuge" id="ConjugeSim"> Sim <input type="radio" name="conjuge" id="ConjugeNao" class="space-left-min"> Não
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <label>Possui doenças graves</label>
                    <input type="radio" name="doenca" id="DoencaSim"> Sim <input type="radio" name="doenca" id="DoencaNao" class="space-left-min"> Não
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <label>Possui avós até 85 anos?</label>
                    <input type="radio" name="avos" id="AvosSim"> Sim <input type="radio" name="avos" id="AvosNao" class="space-left-min"> Não
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <label>Possui plano de saúde?</label>
                    <input type="radio" name="planosaude" id="PlanoSaudeSim"> Sim <input type="radio" name="planosaude" id="PlanoSaudeNao" class="space-left-min"> Não
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <label>Pratica exercícios mais de 2x por semana?</label>
                    <input type="radio" name="exercicio" id="ExercicioSim"> Sim <input type="radio" name="exercicio" id="ExercicioNao" class="space-left-min"> Não
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <label>Fuma?</label>
                    <input type="radio" name="fuma" id="FumaSim"> Sim <input type="radio" name="fuma" id="FumaNao" class="space-left-min"> Não
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <label>Bebe?</label>
                    <input type="radio" name="bebe" id="BebeSim"> Sim <input type="radio" name="bebe" id="BebeNao" class="space-left-min"> Não
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <label>Pai ou mãe faleceu de derrame ou ataque antes dos 50 anos?</label>
                    <input type="radio" name="falec" id="FalecSim"> Sim <input type="radio" name="falec" id="FalecNao" class="space-left-min"> Não
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="space-up-med">Muito obrigada pelas informações :)</h3>
                <div class="space-up-med" id="Contratar"><a class="btn-principal">Contratar</a></div>
            </div>
        </div>
    </div>
</section>