<section id="preco" class="section-bg section-bg-final">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title">Contrate tranquilidade por apenas</h3>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="box-principal box-preco box wow fadeInUp">
                    <div><h4>100,00</h4><h3> por mês</h3></div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="space-up-med"><a id="Contratar" class="btn-principal btn-final">Contratar</a></div>
            </div>
        </div>
    </div>
</section>